API_ID= # Required, you need to craete an app on https://my.telegram.org/apps
API_HASH= # Required, you need to craete an app on https://my.telegram.org/apps
BOT_TOKEN= # Required, you can get one after creating a bot with https://t.me/BotFather

# Required, your Cobalt API endpoints, examples shown.
# Can be a string (first example) that gets converted to a minimal instance configuration object (second example).
# All available instance configuration options are shown in the third example.
API_ENDPOINTS='[
    "https://api.cobalt.tools",
    { "url": "https://api.cobalt.tools" },
    { "name": "custom name", "url": "https://api.cobalt.tools", "auth": "Api-Key 123", "proxy": "http://proxy.example.com", "unsafe": false }
]'
ERROR_CHAT_ID= # Optional, Telegram chat ID that recieves all unhandled exceptions.
CUSTOM_INSTANCE_PROXY_URL= # Optional, HTTP proxy that gets used for all custom instances and for instances marked with `unsafe` flag.
